<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 	<head>
  		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  		<title>Welcome Email</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body style="margin: 0; padding: 0;">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td style="padding: 10px 0 30px 0;">
					<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;border: 1px solid #CCCCCC;">
						<tr>
							<td align="center" bgcolor="#FFFFFF" style="padding: 40px 0 30px 0;">
								<img src="http://nebula.wsimg.com/936837a0e28f422922cf0463a2a610db?AccessKeyId=3F33691C970C6B8E413E&disposition=0&alloworigin=1" alt="Nifty-Cube" width="362" height="108" style="display: block;" />
							</td>
						</tr>
						<tr>
							<td bgcolor="#FFFFFF" style="padding: 40px 30px 40px 30px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tr>
										<td>
											Hello, <strong>{{name}}</strong>. Welcome to Nifty-Cube.
										</td>
									</tr>
									<tr>
										<td style="padding: 20px 0 30px 0;">
											We extend our warm welcome into our family of nifty-cubers, we are always here to help you ensure a smooth transition and settling in the new environment. Do not hesitate to contact us at blahblah@nifty-cube.com for any queries and such. Once again, welcome and have a great time here.
										</td>
									</tr>
									<tr>
										<td>
											<table border="0" cellpadding="0" cellspacing="0" width="100%">
												<tr>
													<td width="260px" valign="top">
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td align="center" style="padding: 40px 0 30px 0;" bgcolor="#EAEAEA">
																	<img src="http://nebula.wsimg.com/da231a491540b53a786ec8a68d80ecca?AccessKeyId=3F33691C970C6B8E413E&disposition=0&alloworigin=1" alt="Training" width="65" height="50" style="display: block;" />
																</td>
															</tr>
															<tr>
																<td style="padding: 25px 0 0 0;">
																	We provide a complete end to end solutions to address the reporting and analytical needs of your business. We provide a complete end to end solutions to address the reporting and analytical needs of your business.
																</td>
															</tr>
														</table>
													</td>
													<td width="20px" style="font-size: 0; line-height: 0;">&nbsp;</td>
													<td width="260px" valign="top">
														<table border="0" cellpadding="0" cellspacing="0" width="100%">
															<tr>
																<td align="center" style="padding: 40px 0 30px 0;" bgcolor="#EAEAEA">
																	<img src="http://nebula.wsimg.com/50d1c830597b0301218eb4757d8e2e91?AccessKeyId=3F33691C970C6B8E413E&disposition=0&alloworigin=1" alt="Solutions" width="45" height="50" style="display: block;" />
																</td>
															</tr>
															<tr>
																<td style="padding: 25px 0 0 0;">
																	We  help you understand trends and ideas that are in your data to see  value in the information you have. We  help you understand trends and ideas that are in your data to see  value in the information you have.
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td bgcolor="#EE4C50" style="padding: 30px 30px 30px 30px;">
								<table border="0" cellspacing="0" cellpadding="0" width="100%">
									<tr>
										<td width="75%">
											&reg; Abhishek, USA 2017<br/>
											<a href="#">Unsubscribe</a> to this newsletter instantly.
										</td>
										<td width="25%" align="right">
											<table>
												<tr>
													<td>
														<a href="https://www.twitter.com">
															<img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
														</a>
													</td>
													<td style="line-height: 0; font-size: 0;">&nbsp;</td>
													<td>
														<a href="https://www.twitter.com">
															<img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
														</a>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>