<div class="mailForm content" ng-controller="FormController">
	<form ng-submit="mail()">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" placeholder="Enter name" required ng-model="user.name">
			<small id="nameHelp" class="form-text text-muted">The name of the receiver.</small>
		</div>

		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" required ng-model="user.email">
			<small id="emailHelp" class="form-text text-muted">Email of the receiver.</small>
		</div>

		<div class="form-group">
			<label for="template">Select a template</label>
			<select id="template" class="form-control"  required ng-model="user.template">
				<option value="">-- Select --</option>
				<option value="welcome-email">Welcome</option>
			</select>
			<small id="tmpltHelp" class="form-text text-muted">The template for the mail.</small>
		</div>

		<button type="submit" class="btn btn-primary">Send Mail</button>
	</form>
</div>