<div class="mailForm content" ng-controller="FormController">
	<form ng-submit="mail()">
		<div class="form-group">
			<label for="email">Email address</label>
			<input type="email" class="form-control" id="email" placeholder="Enter email" required ng-model="options.to">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		</div>

		<div class="form-group">
			<label for="subject">Subject</label>
			<input type="text" class="form-control" id="subject" placeholder="Enter subject" required ng-model="options.subject">
			<small id="subHelp" class="form-text text-muted">The subject for the outgoing email.</small>
		</div>

		<div class="form-group">
			<label for="content">Content</label>
			<input type="text" id="content" class="form-control" placeholder="Enter content" required ng-model="options.text">
			<small id="contHelp" class="form-text text-muted">The content for the mail.</small>
		</div>

		<button type="submit" class="btn btn-primary">Send Mail</button>
	</form>
</div>